{
	"extends": "stylelint-config-standard-scss",
	"rules": {
		"indentation": "tab",
		"linebreaks": "unix",
		"max-line-length": 160,
		"selector-id-pattern": null,
		"selector-class-pattern": null,
		"scss/no-global-function-names": null,
		"scss/at-import-partial-extension": null
	}
}
