ErrorDocument 404 /
Options -MultiViews

<IfModule mod_rewrite.c>
	RewriteEngine on

	# enable https
	#RewriteCond %{HTTPS} !=on
	#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

	# prevent nuxt files listing
	RewriteRule ^_nuxt/img/$ /index.html [L]
	RewriteRule ^_nuxt/$ /index.html [L]
	RewriteRule ^_nuxt/fonts/$ /index.html [L]

	# for all routes serve index.html
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^ /index.html [L]
</IfModule>
