.btn {
	/**
    * Button base
    */
	display: inline-block;
	vertical-align: middle;
	touch-action: manipulation;
	user-select: none;
	cursor: pointer;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border: 0;
	background: transparent;
	transition: all 0.15s ease-in-out;
	padding: 15px;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 600;

	&--primary {
		color: white;
		background-color: $coral;
		border: 1px solid $coral;
	}

	&--secondary {
		color: white;
	}

	&--tertiary {
		color: white;
	}

	&--lg {
		color: white;
	}

	&--md {
		color: white;
	}

	&--sm {
		color: white;
	}

	&--disabled {
		pointer-events: none;
	}

	&--w-icon {
		display: flex;
		align-items: baseline;
	}
}
