.txt-color-primary {
	color: $primary-color;
}

.txt-color-secondary {
	color: $secondary-color;
}

.bg-color-primary {
	background-color: $primary-color;
}

.bg-color-secondary {
	background-color: $secondary-color;
}
