$primary-color: #376d7e;
$primary-color-light: lighten($primary-color, 50%);
$primary-color-dark: darken($primary-color, 50%);
$secondary-color: #fff;
$secondary-color-light: lighten($secondary-color, 50%);
$secondary-color-dark: darken($secondary-color, 50%);

$gray100:#191919;
$oxfordBlue: #00558C;
$gray1: #333333;
$gray80: #4F4F4F;
$metallum0: #EBF1F6;
$coral: #EE533F;
