@import 'modularscale/vars';
@import 'modularscale/settings';
@import 'modularscale/pow';
@import 'modularscale/strip-units';
@import 'modularscale/round-px';
@import 'modularscale/function';
@import 'modularscale/respond';

$ff-sans: 'Open Sans', sans-serif;
$ff-serif: 'Raleway', sans-serif;

// Font weights
$fw-light: 300;
$fw-normal: 400;
$fw-bold: 700;
$modularscale: (
	base: 18px,
	400px: (
		//base: 14px,
		ratio: 1.3
	),
	900px: (
		//base: 16px,
		ratio: 1.47
	),
	1600px: (
		ratio: 1.5
	)
);
